header {
    background-color: #fff;
    color: #00d66c;
    font-family: NexaBold;
    margin: -.5em;
    box-shadow: 0 .3125em .625em 0 rgba(0, 0, 0, .15);
    padding: .5em 1em;
    border-bottom: .0625rem solid #ccc;
    display: inline-flex;
    width: 100%;
    padding-right: 0;
}

img {
    height: 2em;
    width: auto;
    object-fit: cover;
}

nav li {
    list-style-type: none;
    display: inline-flex;
}

body {
    background-color: #00d66c;
    color: white;
    font-family: NexaLight;
    font-size: 1em;
}

h1 {
    padding-left: .5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: #00d66c;
    border-radius: .75rem .75rem 0px 0px;
    background-color: white;
    margin-top: 2em;
}

h1,
h2 {
    font-family: NexaBold;
}

div p {
    color: black;
    padding-left: 1em;
    padding-right: 1em;
}


div {
    align-self: center;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: .75rem;
    margin: 0 8%;
}

form {
    color: black;
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

input {
    margin-bottom: 0.25em;
    align-items: center;
}

article {
    background-color: white;
    border-radius: 0px 0px .75rem .75rem;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 2em;
    padding-left: 1em;
}

article > h2 {
    color: #00d66c;
}

/* Buttons */

button {
    background-color: #2800a0;
    box-shadow: inset 0 -.1875em .0625em #120145;
    color: #fff;
    width: auto;
    border: none;
    border-radius: 1.25em;
    padding: .4375em 1.5em .5625em;
    margin: .5em;
}

form > a {
    background-color: #ff3268;
    color: white;
    border: 0px;
    box-shadow: inset 0 -.1875em .0625em #ca2b55;
    margin: 0;
    padding: .4375em 1.5em .5625em;
    position: relative;
    border: 0;
    line-height: 1.5;
    cursor: pointer;
    display: inline-block;
    border-radius: 1.25em;
    min-height: 1.5rem;
    min-width: 1.5rem;
    font-family: NexaBold;
    width: 6em;
    margin: .5em;
    text-decoration: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
}


input:not([type]),
input[type="submit"] {
    background-color: #ff3268;
    color: white;
    border: 0px;
    box-shadow: inset 0 -.1875em .0625em #ca2b55;
    margin: 0;
    padding: .4375em 1.5em .5625em;
    position: relative;
    border: 0;
    line-height: 1.5;
    cursor: pointer;
    display: inline-block;
    border-radius: 1.25em;
    min-height: 1.5rem;
    min-width: 1.5rem;
    font-family: NexaBold;
    width: 12em;
    margin: .5em;

}

input:not([type]),
input[type="email"],
input[type="password"] {
    min-height: 2.5rem;
    padding: 0 .5rem;
    line-height: 2.3rem;
    border: .0625rem solid #91a3b7;
    color: #606060;
    font-size: 1rem;
    border-radius: .5rem;
    width: 15em;
}

/*fonts*/

@font-face {
    font-family: "NexaBold";
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    src: url("https://www.transavia.com/static/fonts/Nexa_XBold-webfont.woff2") format("woff2");
}

@font-face {
    font-family: "NexaLight";
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    src: url("https://www.transavia.com/static/fonts/Nexa_Regular-webfont.woff2") format("woff2");
}
