div.dot {
    width: .5em;
    height: .5em;
    border-radius: 50%;
    background-color: #ff3268;
    position: absolute;
    top: 1.5%;
    right: 1.7%;
    animation: newdot .75s;
}


header {
    background-color: #fff;
    color: #00d66c;
    font-family: NexaBold;
    box-shadow: 0 .3125em .625em 0 rgba(0, 0, 0, .15);
    border-bottom: .0625rem solid #ccc;
    width: 100%;
    padding-right: 0;
    display: flex;
    justify-content: space-between;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

img {
    height: 2em;
    width: auto;
    object-fit: cover;
}

header > a > img {
    padding: .5rem;
}

nav {
    padding: .5rem;
}

nav li {
    list-style-type: none;
    display: inline-flex;
}

body {
    background-color: #00d66c;
    color: white;
    font-family: NexaLight;
    font-size: 1em;
    display: grid;
    grid-template-columns: 5.4% 40% 40% 13%;
    grid-template-rows: 3.4rem 3em 18em 90em 40em 9.3em;
    grid-row-gap: .5rem;
    grid-column-gap: .5rem;
    margin: 0;
}

footer {
    color: #2800a0;
    background-color: #f3e5d8;
    padding: 1rem .5rem;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 7;
}

footer > div {
    text-align: center;
}

footer > div > div {
    border-radius: 5rem;
    height: 3.5rem;
    width: 3.5rem;
    border: 0;
    background-color: #2800a0;
    margin: .25rem;
    display: inline;
}

footer > ul {
    border: 0;
    margin: .25rem;
    display: flex;
    justify-content: center;
}

div > button {
    border-radius: 5rem;
    height: 3.5rem;
    width: 3.5rem;
    border: 0;
    background-color: #2800a0;
    margin: .25rem;
}

div > button:hover {
    transform: scale(.75);
    transition: .25s;
}

button + button {
    background-color: #ff3268;
}

button + button + button {
    background-color: #00d66c;
}

footer > ul > li {
    display: inline;
}

article {
    background-color: #ff3268;
    border-radius: .75rem;
    font-family: NexaLight;
    padding: .5rem;
    position: fixed;
    top: 16%;
    right: 1.5%
}

article > h2 {
    font-family: NexaBold;
    font-size: 3em;
}

section {
    background-color: white;
    border-radius: .75rem;
    font-family: NexaLight;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 6;
}

section > h4 {
    background-image: url(../images/Frequencies2.jpg);
    color: white;
    padding: 13em .5em .5em .5em;
    margin: 1em;
    width: 9em;
    border-radius: .75rem;
    object-fit: cover;
    background-size: cover;
}

section > ul {
    margin: 0 14em 0 14em;
}

section > ul > li {
    display: inline-block;
    color: #606060;
    align-content: top;
    margin: 3em;
}

section > ul > li:first-of-type {
    color: #ff3268;
    transform: scale(1.5);
}

section > h4:hover {
    background-color: #606060;
    background-image: 50%;
    transition: .25s;
    transform: scale(1.125);
}

section > h4 + h4,
section > h4 + h4 + h4 + h4 + h4 + h4 {
    background-image: url(../images/40.jpg);
}

section > h4 + h4 + h4,
section > h4 + h4 + h4 + h4 + h4 + h4 + h4 {
    background-image: url(../images/c9a0607362df45195286f350834779d0.jpg);
}

section > h4 + h4 + h4 + h4,
section > h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 {
    background-image: url(../images/Stuffed-Animal-VACATION0616.jpg);
}

section > h4 + h4 + h4 + h4 + h4,
section > h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 {
    background-image: url(../images/photo-1503135935062-b7d1f5a0690f.jpg);
}

section > h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4,
section > h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 {
    background-image: url(../images/37F60FD200000578-0-image-a-5_1473156426673.jpg);
}

section > h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4,
section > h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 {
    background-image: url(../images/6088621-wallpaper-phone-hd.jpg);
}

section > h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4,
section > h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 {
    background-image: url(../images/stars.JPG);
}

section > h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4,
section > h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 {
    background-image: url(../images/i-think-its-time-for-a-new-phone-background-50-photos-20.jpg);
}

section > h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4,
section > h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 {
    background-image: url(../images/traffic_lights.jpg);
}

section > h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4,
section > h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 {
    background-image: url(../images/58429bb0999ef7c058342e412a6e8bde.jpg);
}

section > h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4,
section > h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 {
    background-image: url(../images/5cd7c9c98eb92a1e13c09075c406aae1--iphone-backgrounds-phone-wallpapers.jpg);
}

section > h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4,
section > h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 {
    background-image: url(../images/l2INmkB.jpg);
}

section > h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4,
section > h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 {
    background-image: url(../images/Kp1e8fD.jpg);
}

section > h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4,
section > h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 {
    background-image: url(../images/583148.jpg);
}

section > h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4,
section > h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 {
    background-image: url(../images/wallpaper-htc-one-m9-quad-hd-1440-2560-356.jpg);
}

section > h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4,
section > h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 {
    background-image: url(../images/727538673ef8a884113e5c134e9bf228--galaxy-wallpaper-samsung-s-wallpaper.jpg);
}

section > h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4,
section > h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 {
    background-image: url(../images/70484ad951a3c4d5dfc785e118050e39.jpg);
}

section > h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4,
section > h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 {
    background-image: url(../images/n1rc30B.jpg);
}

section > h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4,
section > h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 {
    background-image: url(../images/artist-creates-astonishing-ubuntu-wallpapers-for-phones-and-tablets-501422-9.jpg);
}

section > h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4,
section > h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 {
    background-image: url(../images/hU6nGBF.jpg.png);
}

section > h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4,
section > h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 {
    background-image: url(../images/092ff429be2e0c412835c641a0798539.jpg);
}

section > h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4,
section > h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 + h4 {
    background-image: url(../images/phone-wallpapers-tumblr-003.jpg);
}

article > button {
    background-color: #2800a0;
    box-shadow: inset 0 -.1875em .0625em #120145;
    font-family: NexaBold;
    color: #fff;
    text-align: center;
    border-radius: 1.25em;
    margin: 0.5em;
    margin-top: 1rem;
    padding: .4375em 1.5em .5625em;
    border: none;
    font-size: 1em;
    display: flex;
    justify-content: center;
}

article > button:hover {
    background-color: #5e40b8;
    transition: .25s;
}

@keyframes newdot {
    0% {
        width: 5em;
        height: 5em;
    }

    50% {
        width: 3em;
        height: 3em;
    }

    80% {
        width: .125em;
        height: .125em;
    }

    100% {
        width: .5em;
        height: .5em;
    }
}

/*fonts*/

@font-face {
    font-family: "NexaBold";
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    src: url("https://www.transavia.com/static/fonts/Nexa_XBold-webfont.woff2") format("woff2");
}

@font-face {
    font-family: "NexaLight";
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    src: url("https://www.transavia.com/static/fonts/Nexa_Regular-webfont.woff2") format("woff2");
}
