/* header */

header {
    background-color: #fff;
    color: #00d66c;
    font-family: NexaBold;
    margin: -.5em;
    box-shadow: 0 .3125em .625em 0 rgba(0, 0, 0, .15);
    padding: .5em 1em;
    border-bottom: .0625rem solid #ccc;
    display: inline-flex;
    width: 100%;
    padding-right: 0;
}

img {
    height: 2em;
    width: auto;
}

nav li {
    list-style-type: none;
    display: inline-flex;
}

/* body */

body {
    background-color: #00d66c;
    color: white;
    font-family: NexaLight;
    font-size: 1em;
}

p {
    line-height: 1.5;
}

body > h1 {
    font-size: 2.375rem;
    margin-bottom: .25em;
    font-family: NexaBold;
    background-color: white;
    margin: -.5rem;
    margin-bottom: .5rem;
    padding: .5rem;
    color: #00d66c;
}

header + h1 {
    margin: 0 -.5rem;
    padding: .5rem;
    margin-top: .5rem;
    padding-top: 0;
}

section {
    background-color: white;
    border-radius: .75rem;
    padding-bottom: .5em;
    padding-top: .5em;
}

section > h2 {
    color: #00d66c;
    font-size: 1.5em;
    margin: 1rem;
    margin-bottom: .25rem;
    margin-top: .75rem;
}

section > h3 {
    color: black;
    font-size: 1em;
    margin: .5rem;
}

section > p {
    color: black;
    margin: 1rem;
}

section#daily {
    border-radius: 0px;
    margin-left: -.5em;
    margin-right: -.5em;
    color: #2800a0;
    background-color: #f3e5d8;
    padding-top: 0.25rem;
}

section#daily > h2 {
    color: #2800a0;
    font-family: NexaBold;
    font-size: 2.375rem;
}

section#daily > h3 {
    color: #2800a0;
    margin: 1rem;
    margin-top: 0;
}

section#daily > p {
    color: #606060;
}

section#daily + h1 + section {
    background: white;
    border-radius: 0;
    margin: -.5rem;
    padding: 1rem .5rem;
}

section + h1 + section {
    background-color: transparent;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    text-align: bottom;
}

section > img {
    height: auto;
    width: 100%;
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
    margin-top: -.5em;
}

section + h1 + section > h2 {
    font-family: NexaBold;
    background-color: white;
    border-radius: .75rem;
    display: inline-block;
    font-size: 1rem;
    text-align: bottom;
    height: 12rem;
    width: 9rem;
    padding: 0.5rem;
    margin: 0 0.25rem 0rem .25rem;
    color: #2800a0;
    background: url(../images/zombaay.jpg);
    background-size: cover;
}

section + h1 + section > h2 + h2 {
    background: url(../images/9cc59b8f5a10d6698b73b531da034920.jpg);
    background-size: cover;
}

section + h1 + section > h2 + h2 + h2 {
    background: url(../images/c9a0607362df45195286f350834779d0.jpg);
    background-size: cover;
    margin-right: .5rem;
}

body > h3 {
    background-color: #ff3268;
    color: #fff;
    text-align: center;
    border-radius: 1.25em;
    margin: 0.5em;
    margin-top: 1rem;
    padding: .4375em 1.5em .5625em;
    box-shadow: inset 0 -.1875em .0625em #ca2b55;
}

body > h3 + h3 {
    background-color: #2800a0;
    box-shadow: inset 0 -.1875em .0625em #120145;
}

body > div {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

article {
    background-color: white;
    color: #606060;
    border-radius: .75rem;
    padding: 0.5em;
    margin-bottom: 0.5em;
    width: 11em;
    height: 18em;
    display: inline-flex;
    white-space: initial;
    flex-direction: column;
    margin-right: .5em;
}

article + article + article {
    margin-right: 0;
}

article > img {
    height: 10em;
    width: auto;
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
    margin: -.5em;
}


article > h2 {
    margin-bottom: -.5em;
    background-color: white;
}

article > p {
    background-color: white;
}

h3 + section {
    margin-bottom: 0.5em;
}

/* footer */

footer {
    color: #2800a0;
    background-color: #f3e5d8;
    margin: 0 -.5rem -.5rem -.5rem;
    padding: 1rem .5rem;
}

footer > div {
    text-align: center;
}

footer > div > div {
    border-radius: 5rem;
    height: 3.5rem;
    width: 3.5rem;
    border: 0;
    background-color: #2800a0;
    margin: .25rem;
    display: inline;
}

button {
    border-radius: 5rem;
    height: 3.5rem;
    width: 3.5rem;
    border: 0;
    background-color: #2800a0;
    margin: .25rem;
}

button + button {
    background-color: #ff3268;
}

button + button + button {
    background-color: #00d66c;
}

footer > div > li {
    display: inline;
}

/*fonts*/

@font-face {
    font-family: "NexaBold";
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    src: url("https://www.transavia.com/static/fonts/Nexa_XBold-webfont.woff2") format("woff2");
}

@font-face {
    font-family: "NexaLight";
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    src: url("https://www.transavia.com/static/fonts/Nexa_Regular-webfont.woff2") format("woff2");
}
