header {
    background-color: #fff;
    color: #00d66c;
    font-family: NexaBold;
    margin: -.5em;
    box-shadow: 0 .3125em .625em 0 rgba(0, 0, 0, .15);
    padding: .5em 1em;
    border-bottom: .0625rem solid #ccc;
    display: inline-flex;
    width: 100%;
    padding-right: 0;
}

body {
    margin: 0;
}

header img {
    height: 2em;
    width: auto;
    object-fit: cover;
}

nav li {
    list-style-type: none;
    display: inline-flex;
}

img.mobile {
    display: block;
    width: 100%;
    height: auto;
    margin-top: .5em;
}

img.ipad,
img.desktop {
    display: none;
}

div {
    background-color: white;
    border-radius: .75rem;
}

div > img {
    width: 3em;
    height: auto;
    position: absolute;
    top: 5%;
    right: 1.7%;
    display: none;
}

div > img + img {
    top: 6%;
    right: 8%;
}

img.full {
    display: none;
    background-image: url('../images/thumbfull.svg');
    animation: new .5s;
}

img + img.full {
    display: none;
    background-image: url('../images/thumbfull.svg') scaleY(-1);
}

img.thumbup {
    display: block;
}

img.thumbdown {
    transform: scaleY(-1);
    display: block;
}

@keyframes new {
    0% {
        width: 2em;
        height: auto;
    }

    50% {
        width: 8em;
        height: auto;
    }

    100% {
        width: 3em;
        height: auto;
    }
}

@media (min-width: 40em) {

    img.mobile,
    img.desktop {
        display: none;
    }

    img.ipad {
        display: block;
        width: 100%;
        height: auto;
        margin-top: .5em;
    }
}

@media (min-width: 75em) {

    img.mobile,
    img.ipad {
        display: none;
    }

    img.desktop {
        display: block;
        width: 100%;
        height: auto;
        margin-top: .5em;
    }
}
